.navbar-bar {
  padding: 15px 0;
  background-image: linear-gradient(90deg, #73cdffff 0%, #5296e5ff 100%);
}

.logo-icon {
  width: 50px;
  height: 50px;
}

.logo-text {
  color: #205acb;
  font-size: 20px;
  margin-left: 10px;
  font-family: Istok Web, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  border: none !important;
  outline: none;
  border-radius: 5px;
  background-color: #62adf3;
  color: #fff;
  line-height: 140%;
  transition: background-color 0.3s, box-shadow 0.3s;
}

button:focus {
  outline: none;
  box-shadow: none;
}

button:hover,
button:focus {
  background-color: #5296e5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .navbar-bar {
    flex-direction: column;
  }

  .navbar-bar .btn {
    width: 150px;
    margin-bottom: 10px;
  }
}
