.filters-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  padding: 10px;
}

.input-container {
  display: flex;
  gap: 10px;
}

.icon-button {
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  color: #333;
  border: 1px solid #b0b0b0;
  padding: 8px 12px;
  height: 40px;
}

.icon-button:hover {
  border-color: #333;
  background-color: rgba(0, 123, 255, 0.1);
}

.icon {
  width: 28px;
  height: 28px;
}

.rectangle1,
.rectangle2,
.rectangle3 {
  border: 1px solid #b0b0b0;
  outline: solid 1px #b0b0b0;
  outline-offset: -1px;
  border-radius: 12px;
  background-color: #f0f0f0;
  width: 250px;
  height: 40px;
  padding: 8px;
  color: #333;
}

.input {
  font-size: 14px;
  color: #333;
  border: 1px solid #b0b0b0;
  border-radius: 8px;
  padding: 8px;
  width: 100%;
}

@media (max-width: 768px) {
  .filters-container {
    flex-direction: column;
    align-items: stretch;
  }

  .rectangle1,
  .rectangle2,
  .rectangle3 {
    width: 100%;
  }

  .icon-button {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .rectangle1,
  .rectangle2,
  .rectangle3 {
    width: 100%;
  }

  .icon-button {
    width: 100%;
    margin-top: 10px;
  }
}
